*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
body{
    background: url(images/bg.jpg) no-repeat ;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-size: cover;
    min-height: 100vh; 
    color: white;
}

main{
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 0, 195);
}
.navbar{
    font-size: 18px;
    font-weight: 600;
}
.navbar a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    transition: .8s ease-in-out;
}
.navbar a:hover,
.navbar a.active{
    color: rgb(255, 0, 195);
}

section{
    padding: 15px 30px;
    display: flex;
    height: 50vh;
    max-width: 60%;
    justify-content: center;
    align-items: center;
}
.content h1{
    font-size: 50px;
    font-weight: 700;
    color: rgb(227, 56, 25);
}
.content h2{
    font-size: 25px;
    font-weight: 700;
    color: blue;
    font-family: cursive;
}

.content p{
    font-size: 18px;
    line-height: 1.5em;
}

